@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400');

body {
margin-top: 2%;
background-color: #e2ae77;
font-family: 'Raleway', sans-serif;
color: #131313;
font-size: 20px;
font-weight: 400;
line-height: 30px;
}

#perfillinkedin {
width: 100%;
border-radius: 50%;
border: 5px solid #edc795;
}

.imagem{
  width: 20%;
  margin: 0 auto -7%;
}

.header h1 {
font-family: 'Raleway', sans-serif;
color: #131313;
font-size: 35px;
font-weight: bold;
line-height: 30px;
width: 700px;
margin: 1% auto 3%;
text-align: center;
background-color: #edc795;
border-radius: 5px;
padding: 7% 0 3%;
box-shadow: 0px 4px 30px rgba(0,0,0,0.11);
}

.subheader {
font-family: 'Raleway', sans-serif;
color: #131313;
font-size: 25px;
font-weight: bold;
line-height: 30px;
margin: 0 auto;
text-align: center;
padding-top: 0.2%;
}

.description {
font-family: 'Open Sans', sans-serif;
color: #353535;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding: 0 10%;
text-align: center;
margin: 0 5%;
}

.socialmedia {
  background-color: #edc795;
  padding: 1.5%;
  border-radius: 5px;
  box-shadow: 0px 4px 30px rgba(0,0,0,0.12);
  margin: 0 10%;
}

.socialmedia a {
  color: #9e7345;
  text-decoration: none;
  text-align: center;
}
.socialmedia a:hover {
  background-color: white;
}
.socialmedia ul {
list-style-type:none;
text-align: center;
}
.icone {
  font-size: 33px;
  text-align: center;
 }
 .socialmedia li {
  display: inline;
  margin: 0 5%;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  .header h1 {
    width: 700px;
  }
  .socialmedia{
    width: 700px;
  }
  .description {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
  .header h1 {
    width: 500px;
  }
  .socialmedia{
    width: 500px;
  }
  .description {
    width: 500px;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .header h1 {
    width: 300px;
  }
  .socialmedia{
    width: 300px;
  }
  .description {
    width: 300px;
    margin: 0;
    padding: 0;
  }
}
